[submodule "clmod"]
	path = clmod
	url = https://github.com/SaintlyVi/DLR_DB.clmod.git
[submodule "exmod"]
	path = exmod
	url = https://github.com/SaintlyVi/DLR_DB.exmod.git
[submodule "observations"]
	path = observations
	url = https://github.com/ERC-data/DLR_DB.src.git
